<div class="p-8 bg-gray-100 min-h-screen">
  @if (store.accountsResource.isLoading()) {
    <p>Loading...</p>
  }

  @if (store.accountsResource.error(); as error) {
    <p>Error: {{ error }}</p>
  }

  @if (store.account(); as account) {
    <h1 class="text-2xl font-bold">{{ account.name }}</h1>
    <div class="font-bold">{{ account.balance | number }} VND</div>
    <div class="flex gap-2">
      <ui-button
        (clicked)="store.deposit(1000000)"
        label="Add 1M"
        variant="primary"
        size="md"
      ></ui-button>
      <ui-button
        (clicked)="store.withdraw(1000000)"
        label="Withdraw 1M"
        variant="secondary"
        size="md"
      ></ui-button>
    </div>
  }

  <app-transaction-list></app-transaction-list>
</div>
