<div class="mt-6 h-160 overflow-y-auto border rounded p-2">
  @if (store.transactions(); as transactions) {
    @for (tx of transactions; track tx.id) {
      <div class="flex justify-between p-3 border rounded mb-2 bg-white">
        <div>
          <div class="font-semibold">
            {{ tx.type }}
          </div>

          <div class="text-sm text-gray-500">
            {{ tx.createdAt }}
          </div>
        </div>

        <div
          class="font-bold"
          [class.text-green-600]="tx.type === 'deposit'"
          [class.text-red-600]="tx.type === 'withdraw'"
        >
          {{ tx.amount | number }} VND
        </div>
      </div>
    }
  }
</div>
